Package: com.danyl.sicarius
Name: Sicarius
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Swipe SpringBoard page once to quit all apps, again for respring, with some cool animations. ;)
Maintainer: Dany Lisiansky
Author: Dany Lisiansky
Section: Tweaks
